<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>
    <style>
        .container {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fdfdfd;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(29, 29, 29, 0.1);
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Are you sure you want to delete {{ product.name }}?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
</body>

</html>